body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#signup {
  /* top, right, bottom, left  */
  margin: 15% 30% 0 30%;
}

#owner-dash-list {
  margin-top: 20%;
  float: left;
}

#owner-dash-table {
  margin-top: 20%;
  float: right;
  margin-right: 35%;
}
